*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url('images/31392.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aqua;
    text-decoration: aliceblue;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f4433f;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #f4f43f;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: bisque;
}
.hit-btn{
    display: inline-block;
    text-decoration: none;
    color: #f4433f;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
@media(max-width: 700px){
     .row{
        flex-direction: column;
     }
}
.Agenda{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizzing: border-box;
}
h1{
    text-align: center;
    margin: 0;
}
p{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.row{
    flex-basis: 10%;
    border-radius: 0;
    margin-bottom: 0;
    position: relative;
}
.cop-ol{
    flex-basis: 10%;
    border-radius: 0;
    margin-bottom: 0;
    position: relative;

}
.pop-ol{
    flex-basis: 10%;
    border-radius: 0;
    margin-bottom: 0;
    position: relative;
}